$white: rgba(239, 239, 239, 1);
$pure-white: rgba(255, 255, 255, 1);
$purple: rgba(103, 58, 183, 1);
$black: rgba(44, 62, 80, 1);
$green: rgba(0, 150, 136, 1);
$bright-green: rgba(46, 204, 113, 1);
$orange: rgba(255, 152, 0, 1);
$grey: rgba(149, 165, 166, 1);
$blue: rgba(33, 150, 243, 1);
$bright-blue: rgba(3, 169, 244, 1);
$red: rgba(244, 67, 54, 1);
$bright-red: rgba(233, 30, 99, 1);

$primary-color: $black;
$secondary-color: $orange;
