$white: rgba(239, 239, 239, 1);
$pure-white: rgba(255, 255, 255, 1);
$purple: rgba(103, 58, 183, 1);
$black: rgba(44, 62, 80, 1);
$green: rgba(0, 150, 136, 1);
$orange: rgba(255, 152, 0, 1);
$grey: rgba(149, 165, 166, 1);

$primary-color: $black;
$secondary-color: $orange;
