<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header"> {{header-component}} </header>
  <div class="mdl-layout__drawer"> {{menu-component}} </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      {{outlet}}
    </div>
  </main>
</div>