{{outlet}}
<div class="board">
  <div class="mdl-layout__header-row">
    {{model.title}}
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
    <span class="start-doing mdl-chip">
        <span class="mdl-chip__text">Start Doing</span>
    </span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
    <span class="stop-doing mdl-chip">
        <span class="mdl-chip__text">Stop Doing</span>
    </span>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
    <span class="keep-doing mdl-chip">
        <span class="mdl-chip__text">Keep Doing</span>
    </span>
    </div>
  </div>
</div>