.mdl-layout__container .mdl-layout__header {
  background-color: $primary-color;

  .mdl-layout-title {
    a,
    a:hover,
    a:focus,
    a:visited {
      color: $pure-white;
      text-decoration: none;
    }
  }
}
