.board-page {
  .mdl-layout__header-row {
    background: $secondary-color;
    color: $pure-white;
    padding: 0 16px;
  }

  .mdl-cell {
    text-align: center;

    .mdl-card {
      margin: 16px auto 0 auto;
      max-width: 250px;
          width: auto;

      .delete {
        color: $primary-color;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        right: 8px;
        top: 8px;
        z-index: 999;
        @include transition();
      }

      .save,
      .edit {
        opacity: 0;
        @include transition();
      }

      .mdl-textfield.is-disabled .mdl-textfield__input,
      .mdl-textfield__input {
        border: none;
        color: $primary-color;
        height: 150px;
        resize: none;
      }

      &:hover,
      &[data-editing="true"] {
        .save,
        .edit,
        .delete {
          opacity: 1;
          @include transition();
        }
      }
    }
  }

  .column-title {
    height: 32px;
  }

  .mdl-chip {
    background-color: $black;
    color: $pure-white;
  }

  .start.doing i {
    color: $bright-green;
  }

  .stop.doing i {
    color: $bright-red;
  }

  .continue.doing i {
    color: $bright-blue;
  }
}
