{{outlet}}
{{welcome-component}}

<div class="mdl-grid">
  <button class="center-x mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--6-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    New Board
  </button>
</div>
